

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: 'Hanson-Bold';
    src: url(../../assets/police/Hanson-Bold.ttf);
}

@font-face {
    font-family: 'Orbitron-Regular';
    src: url(../../assets/police/Orbitron-Regular.ttf);
}

h2{ 
    margin-bottom: 5px;

    bottom : 0;
  
    font-family: 'Hanson-Bold';
    text-align: center;
    color: rgb(255, 255, 255);

}

.planning_hebdo {
    text-align: center;

}

img.planningimg {
    width: 75%;
}