@font-face {
    font-family: 'Obitron-regular';
    src: url(../../assets/police/Orbitron-Regular.ttf)
}

html{
    margin:0;
}
body{
    
    margin:0;
    bottom : 0;
    width: 100%;
    font-family: 'Obitron-regular';
    color: #fff;
}

.container {
    position: fixed;
    bottom: 0;
    width: 100%;
}


nav{
    text-align: center;
    background-color: #1a1919;
    border-top: 5px solid #ffcc00; 
    padding: 10px 0px 10px 0px
}

nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li{
  display: inline-block;
  background-color: #1a1919
}
nav a{
  display: block;

  color: #fff;

  font-size: 10px;
  text-decoration: none;
}

nav a 
nav ul ul{
  display: none;
  position: absolute;
  top: 60px;
}
nav a:hover{
  background-color: #0a0a83;
}

#picto {
    width : 30px;
    padding : 0;
    margin: 0;
    justify-content: center;
}

.logo_rs {
  width: 30%;
}

#footer_text {
  margin-left : 7%
}

.copyright {
  margin-left:2.25em
}

