
    <div class="container">      
      <nav>
        <div class="fondbleu">
          <img id="lueurbleu" src="../../assets/img/lueur_bleu.png" alt="">  
        </div>    
        <ul>       
          <li class="visible"><a routerLink= "/prez"> chaîne FLTV </a></li>       
          <li class="visible"><a routerLink= "/streamers">streamers</a></li> 
          <li><a routerLink= "/home" id="buttonmenu"> <img id="logomenu" src="../../assets/img/logo_head.png"> </a></li>     
          <li class="visible"><a routerLink= "/planning">planning</a></li>
          <li class="visible"><a routerLink= "/clips">clips</a></li>
          <li class="visible"><a routerLink= "/vods">VOD</a></li>
        </ul>
      </nav>
      <div class="rs">
        <ul class="picto">
          <li><a><img class="logo_rs" src="../../assets/img/discord.png"> </a></li>
          <li><a href="https://www.twitch.tv/fltv_"><img class="logo_rs" src="../../assets/img/twitch.png"></a></li>
          <li><a href="https://twitter.com/FLTV__"><img class="logo_rs" src="../../assets/img/twitter.png"></a></li>
          <li><a href="https://www.youtube.com/channel/UC-BmME7hjz91YjAhb-uf1wg"><img class="logo_rs" src="../../assets/img/youtube.png"></a></li>
        </ul>
      </div>
    </div>



