@font-face {
  font-family: 'Obitron-regular';
  src: url(../../assets/police/Orbitron-Regular.ttf)
}


.container {
  margin: 0;
  width: 100%;
  font-family: 'Obitron-regular';
  color: #fff;
  background-image: url(../../assets/img/degrade_header.png);
  background-size: contain;
}

#lueurbleu {
  position: absolute;
  top: 30px;
  left: 36%;
  width: 29%;
  z-index: 0;

}

nav {
  text-align: center;
  width: 100%;
}

nav ul {

  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 10px 13px;

}

nav ul li {
  display: inline-block;
  z-index: 4;
}

nav ul li a {
  
  padding: 0 20px;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}

nav a:hover {
  background-color: #0000F8;
  border-radius: 6px;

}


#buttonmenu {
  background: none;
}

#logomenu {
  width: 120px;
  margin-bottom: 0;
  line-height: 0;
  padding-bottom: 0;
  text-decoration: none;

}


.picto {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo_rs {
  width: 40%;
}