@font-face {
    font-family: 'Obitron-regular';
    src: url(../../assets/police/Orbitron-Regular.ttf)
}


body{
    
    margin:0;
    width: 100%;
    font-family: 'Obitron-regular';
    color: #fff;
    background-image:url(../../assets/img/degrade_header.png);
    background-size: contain;
    
}

html {
  background-image: url(../../assets/img/lueur_bleu.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

nav{
    text-align: center;
    width: 100%; 
}
nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 10px 5px;
}
nav ul li{
  display: inline-block;
}
nav a{
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 10px;
  text-decoration: none;
}

nav a:hover{
  background-color: #0a0a83;
}


#buttonmenu {
  height: fit-content;
}

#logomenu{
  width :75px;
  margin-bottom: 0;
  line-height: 0;
  padding-bottom : 0;
}

#neon {
  width : 23%
}






