<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dropdown Menu using HTML and CSS</title>
  <link rel="stylesheet" type="text/css" href="header.component.css">
</head>
<body>
    <div class="container"> 
      
      <nav>      
        <ul>       
          <li class="visible"><a routerLink= "/prez"> chaîne FLTV </a></li>       
          <li class="visible"><a routerLink= "/streamers">streamers</a></li> 
          <li><a routerLink= "/home" id="buttonmenu"> <img id="logomenu" src="../../assets/img/logo_head.png"> </a></li>     
          <li class="visible"><a routerLink= "/planning">planning</a></li>
          <li class="visible"><a routerLink= "/clips">clips</a></li>
          <li class="visible"><a routerLink= "/vods">VOD</a></li>
        </ul>
      </nav>
    </div>

</body>
</html>

