.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: 30px;
    margin-right: 42px;
    margin-bottom: 100px;
}

body {
    background-image: none;
}


@font-face {
    font-family: 'Hanson-Bold';
    src: url(../../assets/police/Hanson-Bold.ttf);
}

@font-face {
    font-family: 'Orbitron-Regular';
    src: url(../../assets/police/Orbitron-Regular.ttf);
}

h1{ 
    margin-bottom: 30px;
    margin-top: 50px;
    bottom : 0;
    font-size: 3em;
    font-family: 'Hanson-Bold';
    text-align: center;
    color: rgb(255, 255, 255);
}


.clip{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.clip iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.clipContainer h3 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Obitron-Regular';
    color: white;
    font-size: 1em;

}