body {
    background-image: none;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@font-face {
    font-family: 'Hanson-Bold';
    src: url(../../assets/police/Hanson-Bold.ttf);
}

@font-face {
    font-family: 'Orbitron-Regular';
    src: url(../../assets/police/Orbitron-Regular.ttf);
}

h1 {
    margin-bottom: 50px;
    margin-top: 15px;
    bottom: 0;
    font-family: 'Orbitron-Regular';
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url(../../assets/img/lueur_bleu.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

p {
    margin: 0;
}

.streamer2 {
    text-align: center;
    font-family: 'Orbitron-Regular';
    color: rgb(255, 255, 255);

}

#imagestreamer {
    width: 200px
}

.fleche2 {
    align-self: center;
    margin-left: 40px
}

.fleche {
    margin: auto;
    width: 30px;
    margin-right: 40px;
    cursor: pointer;
}

p.prez {
    margin-top: 20px;
    text-align: justify;
    text-align-last: center;
}

.streamers {
    margin: 0 auto;
    display: block;
}

.back {
    color: white;
    font-family: 'Orbitron-Regular';
    background-color: blue;
    border-radius: 50px;
    font-size: 25px;
    padding: 8px 20px;
    cursor: pointer;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "left streamer right"
        "left streamer right"
        "return return return";
    
}

.right {
    justify-self: start;
    align-self: center;
    grid-area: right;
}

.return {
    justify-self: center;
    align-self: start;
    grid-area: return;
}

.streamer {
    grid-area: streamer;
    height:700px;
}

.left {
    justify-self: end;
    align-self: center;
    grid-area: left;
}

map area{
    cursor: pointer;
}