<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="livrcontent">
            <h1>La Team French Lamantin TV</h1>
            <div class="content">               
                <div class="fleche2"><img class="fleche flecheg" src="../../assets/img/flechegauche.png" (click)="previous()"></div>             
                    <div class="streamer" *ngFor = "let streamer of streamers; let IndexOfelement = index">                 
                        <div *ngIf = "IndexOfelement == index">
                            <h2>{{streamer.name}}</h2>
                            <img id="imagestreamer" src="{{streamer.img}}" alt="image du streamer Lorenzo">
                            <p class="quote">{{streamer.quote}}</p>
                            <p class="prez">{{streamer.prez}}</p>
                        </div>
                    </div> 
                <div class="fleche2"><img class="fleche fleched" src="../../assets/img/fleche.png" (click)="next()"></div>
            </div>
        </div>
    </div> 
</body>
</html>



