.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


@font-face {
    font-family: 'Hanson-Bold';
    src: url(../../assets/police/Hanson-Bold.ttf);
}

@font-face {
    font-family: 'Orbitron-Regular';
    src: url(../../assets/police/Orbitron-Regular.ttf);
}

h1 {
 
    font-size: 4em;
    font-family: 'Hanson-Bold';

    color: rgb(255, 255, 255);
}



p {
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "left streamer right";
    font-family: 'Orbitron-Regular';
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-bottom: 100px;
}

.pole {
    text-align: center;
    font-family: 'Orbitron-Regular';
    color: rgb(255, 255, 255);
}

.intro div img{
    width: 300px;
}


.introP{
    text-align: justify;
    text-align-last: center;
    font-family: 'Orbitron-Regular';
    color: rgb(255, 255, 255);
    padding: 0 100px;
}

.intro {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 50px auto 0 auto;
    gap : 100px;
}

.fleche2 {
    align-self: center;
    margin-left: 40px
}

img.fleche {
    margin: auto;
    width: 30px;
    margin-right: 40px;
    cursor: pointer;

}

p.prez {
    margin-top: 20px;
    text-align: justify;
    text-align-last: center;
    font-family: "Montserrat";
}

.left {
    justify-self: end;

    grid-area: left;
}

.right {
    justify-self: start;

    grid-area: right;
}

.streamer {
    grid-area: streamer;

}

.poleTitle{
    font-size: 3em;
    margin-top: 0;
    font-family: "Hanson-Bold";
}
h3 {
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}

.presentation div{
    margin-bottom: 80px;
}