<div class="container">
    <div class="livrcontent">
        

        <div class="intro">
            <div><img src="../../assets/img/logo_head.png" alt=""></div>
            <div>
                <h1>La FLTV</h1>
                <p class="introP">
                    L’histoire est finalement très simple, cinq amis streamers parlant de tout et de rien autour d’un verre, 
                    un soir à Aix-en-Provence. « Et si on le faisait vraiment ? » Cette phrase enlevant le ton humoristique 
                    de notre conversation et proposant de s’engager dans un réel projet. « Allez ! Faisons-le ! » 
                    Sortie de toutes nos lèvres afin de lancer cette ambition commune. Parfois, on crée un projet sur une idée, 
                    parfois nous avons un besoin existentiel de faire quelque chose soi-même. Ici c’est un mélange des deux, 
                    la création d'une Web TV, notre Web TV. Bienvenue dans la French Lamantin TV.
                </p>
            </div>
        </div>

        <div class="content">
            <div class="left">
                <div class="fleche2"><img class="fleche " src="../../assets/img/flechegauche.png" (click)="previous()">
                </div>
            </div>
            <div class="streamer" *ngFor="let pole of poles; let IndexOfelement = index">
                <div *ngIf="IndexOfelement == index">
                    <h2 class="poleTitle">{{pole.pole}}</h2>
                    <div class="presentation">
                        <div *ngFor="let personne of pole.personnes">
                            <h3>{{personne.name}}</h3>
                            <h4>{{personne.title}} </h4>
                            <p class="quote">{{personne.quote}}</p>
                            <p class="prez" [innerHTML]="personne.prez"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="fleche2"><img class="fleche fleched" src="../../assets/img/fleche.png" (click)="next()">
                </div>
            </div>
        </div>

    </div>
</div>