<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="home.component.CSS" rel="componentCSS" href="home.component.css">
    <script type="component.js" src="home.component.ts"></script>
    <title>FLTV Home Page</title>
</head>
<body>
    <div class="logo-rs">      
        <nav>
          
          <ul>        
            <li><a>  </a></li>       
            <li ><a></a></li> 
            <li><a> <img id="logomenu" src=""> </a></li>     
            <li><a ></a></li>
          </ul>
        </nav>
      </div>
    <div class="container">
        <div class="livrcontent">
            <div class="content">
                <div class="embed-container">
                    <iframe src="https://player.twitch.tv/?channel=fltv_&parent=oznerologos.github.io&parent=localhost" frameborder="0" allowfullscreen="true" scrolling="no" height="378" width="620"></iframe>
                </div>
                <div class="chat-container">
                    <iframe id="chat_embed" src="https://www.twitch.tv/embed/fltv_/chat?parent=oznerologos.github.io&parent=localhost" height="500" width="350">
</iframe>
                </div>
            </div>
        </div>
        </div> 
</body>
</html>

